/* Hilangkan scroll global */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Font Digital */
@font-face {
  font-family: 'Digital7';
  src: url('/font/digital-7.ttf') format('truetype');
}

/* Container aplikasi (untuk format mobile 9:16) */
.app-container {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 9 / 16;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
}



